*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  background-color: #111111;
  color:white;
  font-family:"Arial Narrow", Arial, sans-serif;

}

.dashboard{
  display:flex;
  min-height:100vh;
  background: #131313;
}
/* .dashboard-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
}
.left-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
} */
.sidebar{
  width:300px;
  height:100vh;
  background: #131313;
    border-right: 7px solid #303030;
  padding: 30px 20px;
  display: flex;
flex-direction: column;
position:fixed;
    left: 0;
    top: 0;

}
.sidebar h1 {
  color: #ffb5a0;
  font-size: 42px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1.5px;
  margin-bottom: 42px;
}

.sidebar nav p {
  display:flex;
  align-items:center;
  color: #d4d4d4;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.3px;
  margin-bottom: 27px;
  padding: 12px 10px;
border: 2px solid transparent;
gap:14px;
cursor: pointer;
transition: background-color 0.25s ease, color 0.25s ease;

}
.sidebar nav p svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.sidebar nav p:hover {
  background-color: #2a2a2a;
  color: #ffb5a0;

}
.sidebar nav p.active {
  background-color: #ffb5a0;
  color: #111111;
  border-color: #000000;
  cursor: pointer;
}
.sidebar nav p.active:hover {
  background-color: #ffb5a0;
  color: #111111;
}
.main-content {
  flex: 1;
  padding: 40px 28px;

  margin-left: 300px;      /*yeh jo margin diya hai it is the width of the sidebar,kyuki sidebar ko maine normla flow se out kar diya(becoz i have used there postion:fixed toh side normal properties se bahar aa gya and maine ab main-content ko bol diya ki margin de 300pxs ka.    */
    
}

.main-content h1 {
  color: #ffb5a0;
  font-size: 29px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1px;
}


.sidebar-bottom button {
  width: 100%;
  height: 38px;
  background-color: #ff8c00;
  border: 2px solid #000000;
  color: #111111;
  font-size: 12px;
  font-weight: 800;
  cursor: pointer;
}

.sidebar-bottom {
  margin-top: auto;
  font-size: 20px;
}

.sidebar-bottom p{
  margin-top: 18px;
  font-size: 20px;
}
.sidebar-bottom p + p {
  margin-top: 14px;
}

.main-content {
  flex: 1;
  padding: 40px 28px;
}

.top-bar{
  display:flex;
  height:95px;
  /* flex-direction: row; */
  align-items:center;
  justify-content:space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  
  border:5px solid black;
  box-shadow:7px 7px 0 black;
}


.search-box{
  display: flex;
  align-items:center;
  gap:10px;
  


}
.search-box input {
  width: 250px;
  height: 40px;
  background-color: #111111;
  /* border: 2px solid #292929; */
  color: #ffffff;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
    border:5px solid black;
  box-shadow:7px 7px 0 black;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 40px;
  height:70px;
  
}


.topbar-actions button{
  background-color: #111111;
  color:#ffb5a0;
  padding:5px;
      border:5px solid black;
  box-shadow:7px 7px 0 black;
  transition: all 0.25s ease;
cursor: pointer;
}


.topbar-actions button:hover {
  background-color: #ffb5a0;
  color: #111111;
}

.welcome-card{
  background-color: #f8441c;;
  width:850px;
  height:500px;
        border:5px solid black;
  box-shadow:7px 7px 0 black;
  display:flex;
  /* align-items:center; */
  flex-direction:row;
  padding:20px;
  flex:1;
      transition: transform 0.2s ease;
    transform-origin: top left;
}


.welcome-card:hover {
    transform: rotate(1deg) translateY(2px);
}

.welcome-img {
  width: 450px;
  height: 310px;
  object-fit: cover;
  transform: translateY(60px)  rotate(3deg);
    border:5px solid black;
  box-shadow:7px 7px 0 black;
  margin:20px;

}
.welcome-info{

   margin-left: 30px;
margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.welcome-info h1{

      font-size: 92px;
    font-weight: 1500;
    color: #111111;
    /* margin-bottom: 8px; */
    opacity: 0.8;
}

.welcome-info h3 {
    font-size: 74px;
    /* margin-top: 20px; */
    color: #111111;
    margin-bottom: 35px;
    font-style: italic;
    opacity: 0.7;
}
.welcome-info p {
    font-size: 38px;
    color: #111111;
    margin-bottom: 60px;
        border:5px solid black;
  box-shadow:7px 7px 0 black;
  background-color: #111111;
  color: #f8441c;
  padding:10px;
  display:flex;
  align-items:center;
   width: fit-content;
   animation: triggerBox 0.8s ease-in-out infinite;

}
@keyframes triggerBox {

    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    20% {
        transform: translate(6px, -5px) rotate(1deg);
    }

    40% {
        transform: translate(6px, 5px) rotate(-1deg);
    }

    60% {
        transform: translate(-6px, -4px) rotate(1deg);
    }

    80% {
        transform: translate(-3px, 3px) rotate(-0.5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
.global-rank{
  font-size:18px;
  font-weight:600;
   letter-spacing: 10px;
   margin-bottom: 50px;
   color:#111111;
}

.dashboard-cards {
    display: flex;
    gap: 30px;
}

.stats-card{
  display:flex;
  flex-direction: column;
  
  border:5px solid black;
  box-shadow:7px 7px 0 black;
  color:#ff8c00;
  gap:40px;
      width: 350px;
    box-sizing: border-box;
    justify-content: center;
    height:500px;
          transition: transform 0.2s ease;
    transform-origin: top left;

}
.stats-card:hover {
    transform: rotate(1deg) translateY(2px);
}
.cards-row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.stats-title{
  display:flex;
  align-items:center;
  justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
  color: rgb(222, 219, 219);
  padding: 20px;
  gap:20px;
  transform: translateY(30px);
  
}

.stats-title h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;
}
.stats-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px;
    margin-top: 10px;
    transform: translateY(-20px);

}

.stats-item {
    width: 100%;
    border:5px solid black;
  box-shadow:7px 7px 0 black;
  height:100px;
  
}

.stats-info{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:20px;
  
}

.stats-info span{
  color:#ffb5a0;
  letter-spacing:1px;
  font-family: Arial, Helvetica, sans-serif;
}

.stats-info strong{
  font-size: 30px;
  letter-spacing:2px;
  font-family: Arial, sans-serif;
  font-style: italic;

}

.active-modules {
    margin-top: 30px;
    padding: 15px;
    /* border: 5px solid black;
    box-shadow: 7px 7px 0 black; */
    color: #ffb5a0;
}

.active-modules h2 {
    margin: 0 0 25px 0;
    font-size: 34px;
    font-weight: 900;
      letter-spacing:1px;
  font-family: Arial, sans-serif;
  font-style: italic;
}

.module-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
    /* border: 5px solid black;
    box-shadow: 7px 7px 0 black;  */
    gap:20px;
    
    
}

.module-card {
    border: 5px solid black;
    box-shadow: 7px 7px 0 black;
    padding:20px;
    margin:10px;
        min-height: 320px;

    display: flex;
    flex-direction: column;
    gap:15px;

}
/* .module-card {
    transition: transform 0.2s ease;
}

.module-card:hover {
    transform: translateY(-8px);
} */
 .module-card {
    transition: transform 0.2s ease;
    transform-origin: bottom left;
}

.module-card:hover {
    transform: rotate(-2deg) translateY(-3px);
}

.module-card svg {
    width: 40px;
    height: 40px;
    padding:5px;
    background-color:#ff8c00;
    color: #000000;
    margin-bottom:20px;
}

.module-card h3{
  font-family: Arial, Helvetica, sans-serif;
      font-size: 34px;
    font-weight: 700;
      letter-spacing:1px;
      margin: 0 0 12px 0;

}

.module-card p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    color:#d4d4d4;
}


.module-card button {
    margin-top: auto;
    width: 100%;
    height: 50px;

    background-color:#ffb5a0;
    /* color: #111111; */
    /* border: 4px solid black;
    box-shadow: 5px 5px 0 black; */

    font-size: 20px;
    font-weight: 900;
    cursor: pointer;

    background-color: #000000;
    color: #adacac;
    box-shadow: 5px 5px 0 rgb(147, 145, 145); 
}

.module-card button:hover{
    background-color:  #adacac;
    color: #000000;
    box-shadow: 5px 5px 0 black; 
    border:5px solid #000000;

}